.content {
  width: 80%;
  height: 100%;
  margin: auto;
}

.main {
  min-height: 90vh;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  width: 100%;
  margin: auto;
  border-top: 1px solid #dcdcdc;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
